# Configurações do MongoDB
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_DB_NAME=

# URI do MongoDB injetada na aplicação Spring Boot
# Formato: mongodb://USER:PASSWORD@HOST:PORT/DATABASE?authSource=admin
MONGO_URI=